.card {
    min-width: 30%;
    max-width: 100%;
    /* max-height: 20vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #fff;
    font-size: 32pt;
    border: none;
    border-radius: 15px;
    margin: 12px 0;
}

.card h5 {
    font-weight: bold;
    margin: 8px 0;
}

.card:hover {
    background: rgba(0, 0, 0, 0.705) !important;
    cursor: pointer;
}


/* Responsive */

@media only screen and (max-width: 900px) {
    .card {
        width: 100%;
    }
}