.containerAdmin {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contAdmin {
    width: 84%;
    display: flex;
    align-self: flex-end;
}


/* Responsive */

@media only screen and (max-width: 900px) {
    .contAdmin {
        width: 100%;
    }
}